@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
            .message-box {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 20px;
            background: #252525;
            border: 2px solid red;
            border-radius: 19px;
            display: none;
            z-index: 9999;
            font-size: 20px;
            font-family: 'Readex Pro', sans-serif;
            color: #ffffff;
            scale: 0.9px;
}